<div class="container">
    <!-- <div *ngIf="!showLogin">
        <app-all-recipes></app-all-recipes>
    </div> -->
    <div *ngIf="showLogin">
    <div class="login-form" [formGroup]="LoginForm">
        <div class="form-group">
            <label for="userName">Name</label>
            <input id="userName" class="form-control" placeholder="Name" type="text" formControlName="userName">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input id="password" class="form-control" placeholder="Password" type="text" formControlName="password">
            <p *ngIf="showErrorMessege" class="error-message">Please enter the password again!</p>
        </div>
        <button class="btn btn-primary btn-block" type="submit" [disabled]="!this.LoginForm.valid"
            (click)="login()">Login</button>
    </div></div>
</div>
    <!-- <p *ngIf ="res"></p> -->