<div id="container">
    <ng-container *ngIf="recipe">
        <div>
            <h1>{{recipe.recipeName}}</h1>
            <h3>{{recipe.categoryId.name}}, <img src="{{recipe.categoryId.iconPath}}" alt="icon"></h3>
            <p>level:</p>
            <div class="stars">
                <span class="star" *ngFor="let star of stars"><span>&#9733;</span></span>
            </div>
            <img src="{{recipe.imag7}}" alt="imag">
            <h3>Ingredients:</h3>
            <ul>
                <li *ngFor="let ingredient of recipe.ingredients">
                    <!-- <img src="path_to_your_ingredient_icon" alt="Ingredient Icon">-->
                    {{ ingredient }}
                </li>
            </ul>
            <h3>Preparation:</h3>
            <ol>
                <li *ngFor="let step of recipe.preparation">{{ step }}</li>
            </ol>
        </div>
    </ng-container>
</div>
    <input type="button" value="deleteRecipe" (click)="deleteRecipe()">
