
.star {
    font-size: 30px;
    color: #ffd700;
    /* צבע זהב */
    position: relative;
    display: inline-block;
    margin-right: 5px;
    transition: color 0.3s ease; /* אנימציה לצבע הכוכבים */

}
.star:hover {
    color: #ff5733; /* צבע אדום כאשר מעבירים את העכבר מעל הכוכב */
}
.recipe-details {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9; /* צבע רקע עבור המידע על המתכון */
    transition: background-color 0.3s ease; /* אנימציה לצבע הרקע של תיבת המתכון */

}
.recipe-details:hover {
    background-color: #f0f0f0; /* צבע רקע נוסף כאשר מעבירים את העכבר מעל תיבת המתכון */
}
.category {
    display: flex;
    align-items: center;
}

.category h3 {
    margin-right: 10px;
}

.stars {
    margin-bottom: 10px;
}

#container {
    display: flex;
    justify-content: center;
}

img {
    max-width: 100%;
    height: auto;
}

#icon {
    width: 20px;
    height: 20px;
}
h1 {
    color: #333; /* צבע טקסט ראשי */
}

h3 {
    color: #555; /* צבע טקסט תתי כותרת */
}

li {
    color: #666; /* צבע טקסט רשימה */
}